/* Styles for the slide container */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 222, 193); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #020202; 
  }
  body {
    margin: 0%;
    background-color: #020202;
  }
   
    /* Styles for the row containing text and image */
    .header-row {
      height: calc(100% - 100px);
      display: flex;
      flex-wrap: wrap;
      margin-top: 5em;
    }
    
    /* Styles for the text container */
    .slide-text {
      text-align: left;
      padding: 5rem;
      flex-grow: 1;
      margin-left: 2rem;
    }
    .slidesDev-title {
      background: linear-gradient(90deg, #00eeff 0%, rgba(255, 241, 228, 0.00) 103.85%);
      border-radius: 8px;
      height: 3.5rem;
      gap: 5px;
      width: 30rem;
    }
     .slide-title {
      align-self: center;
        font-size: 2rem;
        padding-top: 0.2rem;
        padding-left: 0.5rem;
        /* padding: 7px; */
        font-weight: 600;
      }
    .slide-description  h3 {
      font-size: 45px;
      line-height: 55px;
      color:aliceblue;
      padding-top: 1rem;
    }
    .slide-description span{
      color: #ffa108;
    }
    
    .slide-description p {
      font-size: 20px;
      position: relative;
      line-height: 40px;
      color: aliceblue;
    }
    /* Styles for the slide title */
   
  
    .slick-dots {
      display: none;
    }
    
    /* Styles for the image container */
    .slide-image-container {
        padding: 4rem;
      /* flex-shrink: 0; */
      width: auto;
      height:auto;
    }
    
    /* Styles for the slide image */
    .slide-image {
      max-width: 100%;
      width: 65vh;
      height: 60vh;
      border-radius: 10px;

    }
    @media (max-width: 1024px) {
      .slide-text {
        text-align: left;
        padding: 5rem;
        flex-grow: 1;
        margin-left: 2rem;
      }
      .slidesDev-title {
        background: linear-gradient(90deg, #00eeff 0%, rgba(255, 241, 228, 0.00) 103.85%);
        border-radius: 8px;
        height: 3.5rem;
        gap: 5px;
        width:25rem;
      }
       .slide-title {
        align-self: center;
          font-size: 2rem;
          padding-top: 0.2rem;
          padding-left: 0.5rem;
          /* padding: 7px; */
          font-weight: 600;
        }
      .slide-description  h3 {
        font-size: 45px;
        line-height: 55px;
        color:aliceblue;
        padding-top: 1rem;
      }

    }
    @media (max-width: 767px) {
      .slide-text {
        text-align: left;
        padding-top: 5rem;
        padding-left: 0rem;
        flex-grow: 1;
        /* margin-left: 2rem; */
        overflow: hidden;
        padding-bottom: 0;
      }
    }
    @media (max-width: 390px) {
      .slide-text {
        text-align: left;
        padding-top: 5rem;
        padding-left: 0rem;
        flex-grow: 1;
        /* margin-left: 2rem; */
        overflow: hidden;
        padding-bottom: 0;
      }
      .slidesDev-title {
        background: linear-gradient(90deg, #00eeff 0%, rgba(255, 241, 228, 0.00) 103.85%);
        border-radius: 8px;
        height: 3.2rem;
        gap: 5px;
        width: 20rem;
      }
      .slide-title {
        align-self: center;
          font-size: 1.5rem;
          padding-top: 0.4rem;
          padding-left: 0.5rem;
          /* padding: 7px; */
          font-weight: 600;
        }
      .slide-description  h3 {
        font-size: 30px;
        line-height: 55px;
        color:aliceblue;
        padding-top: 1rem;
      }
      .slide-description p {
        font-size: 18px;
        position: relative;
        line-height: 40px;
        color: aliceblue;
      }
      .slide-image-container {
        padding-left: 1rem;
      /* flex-shrink: 0; */
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0.2rem;
      width: auto;
      height:auto;
    }
    }
