* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wcmabc{
  margin: 40px 5.1%;
}
.wcmChoose-head{
color: aliceblue;
line-height: 3rem;
text-align: left;
width: 100%;
max-height: auto;
padding-top: 2rem;
height: 100%;
/* margin: 40px 50px; */
border: none;
width: 100%;
padding-left: 6rem;
}
.wcmChoose-head h3{
  margin-top: 25px;
  color: orange;
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}

.wcmChoose_icon{
  display: inline-flex;
  margin: 0 15px 0 0;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 6px;
  background-color: aliceblue;
}
.wcmChoose-head .wcmwork-text{
  /* margin-left: -42px; */
  display: flex;
  flex-wrap: wrap;
  color: aliceblue;
}
.wcmChoose-head .wcmcolor-text{
font-size: 2rem;
font-weight: 400;
text-wrap: wrap;
line-height: 2;
margin-right: 1rem;
color: orange;
}
.wcmabc .wcmChoose-head p{
  color: aliceblue;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
.wcmChoose-butn{
  width: auto;
  display: flex;
  justify-content: flex-end;
}
.button-link {
  text-decoration: none;
}
.wcmChoose_btn{
  margin-top: -8em;
  padding: 0 5px;
  align-items: center;
  height: 48px; 
  border-radius: 6px;
  border: 2px solid #ffa108;
  transition: all .3s ease-out;
 font-weight: 600;
 line-height: 1.5;
 transition: all .3s ease-out;
 font-size: 1.3vw;
margin-right: 7rem;
}
.wcmChoose_btn:hover {
  background: #ffa108; 
  transform: translateX(5px) scale(1.05);
  box-shadow: 0px 10px 30px 0px #ffa108;
  color: #eeeaea;
}
.wcmcarousal {
padding: 1rem;
margin: 2.5rem;
margin-right: 6rem;
 color: #fff;
}


.wcmChoose-box{
  height: 20em;
  display: flex;
  flex-wrap: wrap;
  width: 15em;
  background: linear-gradient( transparent, #00e5ff, #00e5ff, transparent);
  background-size: 2px 100%; /* Adjust the size of the gradient to match your border size */
  background-position: right;
  background-repeat: no-repeat;
}
.wcmChoose-top{
  margin-top: -0.4rem; 
  padding-bottom: 0.8rem;
  display: flex;
 justify-content: flex-start;
}
.wcmHead{
  font-size: 1.5rem;
  text-align: left;
  padding-right: 0rem;
}
.wcmChoose-para{
  /* padding-left: 1rem; */
  font-size: 1.1rem;
  text-align: left;
  text-wrap: wrap;
  padding-right:0rem;
}
.icon-pic{
  display: flex;
  margin-left: 0rem;
  padding-bottom: 0.5rem;
  height: 45%;
}

.wcmChoose-para{
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  /* align-items: center; */
  text-align: left;
  text-wrap: wrap;
  color: aliceblue;
}

@media (max-width:992px){
  .wcmChoose-butn{
    width: auto;
    display: flex;
    justify-content: flex-start;
  }
  .wcmChoose_btn{
    margin-top: 0.5em;
    padding: 0 3px;
    align-items: center;
    height: 48px; 
    width: 10em;
    border-radius: 6px;
    border: 2px solid #ffa108;
    transition: all .3s ease-out;
   font-weight: 600;
   line-height: 1.5;
   transition: all .3s ease-out;
   font-size: 1.2em;
  margin-right: 0rem;
  }
  .wcmChoose-box{
    height: 23em;
  }
 
}

@media (max-width:768px){
  .wcmChoose-butn{
    width: auto;
    display: flex;
    justify-content: flex-start;
  }
  .wcmChoose_btn{
    margin-top: 0.5em;
    padding: 0 3px;
    align-items: center;
    height: 48px; 
    width: 10em;
    border-radius: 6px;
    border: 2px solid #ffa108;
    transition: all .3s ease-out;
   font-weight: 600;
   line-height: 1.5;
   transition: all .3s ease-out;
   font-size: 1.2em;
  margin-right: 0rem;
  }
.wcmcarousal{
padding: 1rem;
margin-left: 2.3rem;
margin-right: 0.8rem;
margin-bottom: 1rem;
 color: #fff;
}

}

@media (max-width:601px) {
.wcmChoose-head{
  color: aliceblue;
  line-height: 3rem;
  text-align: left;
  width: 100%;
  max-height: auto;
  padding-top: 2rem;
  height: 100%;
  border: none;
  width: 100%;
  padding-left: 1rem;
  }
.wcmChoose-top{
  border: none;
  width: 100%;
  padding-left: 0rem;
  padding-right: 1rem;
}
.wcmChoose-top .wcmcolor-text{
  font-size: 1.5em;
  font-weight: 400;
  text-wrap: wrap;
  line-height: 1;
  margin-right: 1rem;
  color: orange;
}
.wcmChoose-p{
color: aliceblue;
  font-size: 1rem;
  line-height: 1.8;
  margin-left: 0.3rem;
}
.wcmcarousal{
padding: 0.3rem;
 margin: 0.1rem;
 margin-right: 0.1rem;
  color: #fff;
}

.wcmChoose-box{
height: 25em;
margin-top: 2rem;
margin-left: 0;
padding-left: 0;
}
.wcmHead{
font-size: 1.4rem;
  text-align: left;
  padding-left: 0;
  padding-right: 0.65rem;
}
}

@media (max-width: 431px) {
  .wcmChoose-Head{
    border: none;
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 0.3rem;
  }
  .wcmChoose-top .wcmcolor-text{
    font-size: 1.5em;
    font-weight: 400;
    text-wrap: wrap;
    line-height: 1.5;
    margin-right: 1rem;
    color: orange;
  }
.wcmChoose-p{
  color: aliceblue;
    font-size: 1rem;
    line-height: 1.8;
    margin-left: 0.3rem;
}
.wcmcarousal{
  padding: 1rem;
  padding-left: 0;
   margin: 0.1rem;
   margin-right: 0.1rem;
    color: #fff;
}
.wcmChoose-box{
  height: 25em;
  padding-left:-20px;
}
}
