.DesignFront {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    margin-top: 0%;
padding-top: 0;  
  width: 100%;
}

.full-page-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-page-video video {
  position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100em;
      object-fit: cover;
      filter: blur(6px); 
      opacity: 0.7;
      z-index:-2;
}
.Des_desc {
  text-align: left;
  flex: 1;
  margin-right: 20px; /* Add some space between content and Page-pic */
}
.Des-title{
  background: linear-gradient(90deg, #00e5ff 45%, transparent );
    border-radius: 8px;
    font-size: 1.6vw;
    padding: 4px 20px;
    width: 40vw;
    margin: 0 13%;
    margin-top: 0%;
    color: #020202;
}
.Des_desc h1{
  font-size: 4em;
  margin: 0 12.5%;
  color: #eeeaea;
}
.Des_desc span{
  color:#ffa108;
}
.Des-para{
  margin: 1% 12.5%;
  font-size: 1.1rem;
  color: #eeeaea;
  font-weight: 600;
}

.Page-pic {
  flex: 1;
  margin-left: 2%;
}
.Des-Pic{
  width: 100%;
  margin: 0;
}
/* For responsiveness */
@media (max-width: 1024px){
  .DesignFront {
    height: 90%;
    padding-top: 4rem;
  }
  .Des-title{
    margin: 0 11%;
    margin-top: 0%;
  }
  .Des_desc h1{
    font-size: 2.5rem;
      margin: 0 12.5%;
      color: #eeeaea;
  }
  .Des-para{
    margin: 1% 12.5%;
      font-size: 1rem;
      color: #eeeaea;
      font-weight: 500;
  }

}
@media (max-width: 768px) {

  .DesignFront {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .Des-title{
    width: 60vw;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-left: 0;
    margin: 0 11%;
  }
  .Des_desc h1{
    font-size: 2.5rem;
      margin: 0 0;
      margin-left: 11.5%;
      color: #eeeaea;
  }
  .Des-para{
    margin: 1% 11.5%;
      font-size: 1rem;
      color: #eeeaea;
      font-weight: 500;
  }
  .Page-pic {
    flex: 1;
    margin-left: 2%;
    margin-top: 0rem;
  }
}

@media (max-width: 431px) {
  .DesignFront {
    flex-direction: column; 
     padding-bottom: 0;
  }
  .Des-title{
    background: linear-gradient(90deg, #00e5ff 45%, transparent );
      border-radius: 8px;
      font-size: 3vw;
      width: 80%;
      /* padding: 4px 20px; */
      width: 40vw;
      margin: 0 1%;
      margin-top: 0%;
      color: #020202;
  }
  .Page-pic {
    flex: 1;
    margin-left: 2%;
    margin-top: 0rem;
    margin-bottom: 0;
  }
  .Des-Pic{
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 391px) {
  .Des-title{
    background: linear-gradient(90deg, #00e5ff 45%, transparent );
      border-radius: 8px;
      font-size: 3vw;
      width: 100%;
      margin: 0 0%;
      margin-top: 0%;
      color: #020202;
  }
  .Des_desc h1{
    font-size: 2rem;
      margin: 0 0;
      margin-left: 1%;
      color: #eeeaea;
  }
  .Des-para{
    margin: 1% 1%;
      font-size: 0.9rem;
      color: #eeeaea;
      font-weight: 500;
  }
  .Page-pic {
    flex: 1;
    margin-left: 2%;
    margin-top: 0rem;
  }
  .Des-Pic{
    width: 100%;
  }
}