
  .GameFront{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    margin-top: 0%;
padding-top: 0;  
  width: 100%;
  }

  .Game-Baner {
    text-align: left;
    flex: 1;
    margin-right: 20px;
  }
 
  
  .Gametitle {
    background: linear-gradient(90deg, #00e5ff 45%, transparent );
    border-radius: 8px;
    font-size: 1.4vw;
    line-height: 1.9rem;
    padding: 8px 20px;
    width: 41vw;
    margin: 0 12.5%;
    margin-top: 0%;
    color: #020202;
  }

  .Game-Baner h1 {
    font-size: 3.5rem;
  margin: 0 12.5%;
  color: #eeeaea;
  }
  .Game-Baner span{
    color: #ffa108;
  }
  .Game-Baner .game_para {
    margin: 1% 12.5%;
    font-size: 1.1rem;
    text-align: left;
    text-wrap: wrap;
    margin-right: 14.5%;
    color: #eeeaea;
    font-weight: 600;
  }
  
.Gamedev{
  flex: 1;
    margin-left: 1%;
    margin-right: 1%;
}

  .game-Img{
    width: 90%;
  }

  @media (max-width: 1025px) {
    .GameFront {
        height: 90%;
      /* flex-direction: column;  */
      padding-top: 4rem;
    }
    .Game-Baner .Gametitle{
        margin: 0 11%;
        margin-top: 0%;
      }
    .Game-Baner h1{
      font-size: 2.5rem;
      margin: 0 12.5%;
      color: #eeeaea;
    }
    
    .Game-Baner .game_para{
      margin: 1% 12.5%;
      font-size: 1rem;
      color: #eeeaea;
      font-weight: 500;
    }
  /* .ServFront-image{
   width: 100%;
  } */
  .game-Img {
    margin-top: 0; 
    width: 100%;
    /* margin-bottom: 3rem; */
  }
  }
  @media (max-width: 996px) {
    .GameFront {
        height: 100%;
      padding-top: 4rem;
        flex-direction: column; /* Stack items vertically on smaller screens */
      
    }
    .Game-Baner .Gametitle{
      width: 50vw;
        margin: 0 11%;
        margin-top: 0%;
        font-size: 1.2rem;
      }
    .Game-Baner h1{
      font-size: 2.5rem;
      margin: 0 12.5%;
      color: #eeeaea;
    }
    
    .Game-Baner .game_para{
      margin: 1% 12.5%;
      font-size: 1rem;
      color: #eeeaea;
      font-weight: 500;
    }
  /* .ServFront-image{
   width: 100%;
  } */
  .game-Img {
    margin-top: 0; 
    width: 100%;
    /* margin-bottom: 3rem; */
  }
  }

  @media (max-width: 768px) {
    .GameFront {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
    .Game-Baner .Gametitle{
      width: 80vw;
      margin-top: 1rem;
      margin-left: 0;
      margin: 0 11%;
    }
    .game-Img {
      margin-top: 0; 
      width: 100%;
      /* margin-bottom: 3rem; */
    }
  }
  
  @media (max-width: 421px) {
  
    .Game-Baner .Gametitle{
      margin-top: 1rem;
      margin-left: 0;
      width: 80vw;
    }
  .Game-Baner h1{
    font-size: 2rem;
    margin-left: 0;
    /* margin: 0 12.5%; */
    color: #eeeaea;
  }
  
  .Game-Baner .game_para{
    margin-left: 0;
    font-size: 1rem;
    color: #eeeaea;
    font-weight: 600;
  }
    .game-Img {
      margin-top: 0; 
      width: 100%;
      /* margin-bottom: 3rem; */
    }
  }
