/* .Techs-content{
    padding: 5.4rem;
} */
.heading{
    padding-left: 5.5rem;
    color: aliceblue;
    line-height: 3rem;
    text-align: left;
    
}
.tech_icon{
    display: inline-flex;
    margin: 0 15px 0 0;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    background-color: aliceblue;
}
.tech-row1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    padding-bottom: 0;
}
.tech-row2
{
    margin-left: 5rem;
    padding-top: 0.2rem;
} 
.tech-row2 p{
    padding-top: 0;
font-size: 1.3rem;
}
 .color-text{
    font-size: 2rem;
    color: orange;
}

.flex-grid{
  
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.3rem;
    padding-right: 4.3rem;
    gap: 5rem;
}

.flex-grid .col{
    flex:1;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* width: 5rem; */
    height: 15em;
    margin-left: 2rem;
    margin-right: 1.8rem;
    padding-top: 2rem;
    /* align-items: center; */
    border-radius: 10px;
    transition: transform 0.5s; 
    border: 2px solid #00e5ff; 
}

.flex-grid .col img{
    
    height: 5rem;
    width:5rem;
    padding-left: 1rem;
    padding-top: 2rem;
}

/* .flex-grid .col .new{
    
    margin-left: 1.5rem;
} */


.new{
    justify-content: center;
    align-items: center;
    text-align: center;
    /* text-wrap: wrap; */
    /* padding-top: 0.3rem; */
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
    /* background-color: #00e5ff; */
}
.new  h4{
    text-align: center;
    text-wrap: wrap;
    font-size: 2rem;
    padding-top: 1rem;
}
.new .new-para{
    /* padding-top: 0.3rem; */
    display: flex;
    text-wrap: wrap;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1em;
    padding-bottom: 1em;
}

.flex-grid{
    margin: 10px 10px 10px 10px;
}

.col{
    background-color:rgb(255, 255, 255);
    color: #020202;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 20px;
}

.col:hover{
    transform: translateY(5px) scale(1);
    box-shadow: 0 0 20px 5px rgba(253, 253, 253, 0.7);
}
.col:hover h4 {
    color:#ffa108;
  }
@media (max-width: 1200px) {
    .flex-grid{
        /* display: flex;
        flex-wrap: wrap; */
        padding-left: 4.3rem;
        padding-right: 4.3rem;
        gap: 5rem;
    }

}
@media (max-width: 1024px) {
    .flex-grid{
        /* display: flex;
        flex-wrap: wrap; */
        padding-left: 4.3rem;
        padding-right: 4.3rem;
        gap: 5rem;
    }

}
@media (max-width: 996px) {
    .tech-row1{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0rem;
        padding-bottom: 0;
    }
    .tech-row2
    {
        margin-left: 0rem;
        padding-top: 0.2rem;
    }
    .flex-grid{
        display: flex;
        flex-wrap: wrap;
        padding-left: 4.3rem;
        padding-right: 4.3rem;
        gap: 3rem;
    }
    .flex-grid .col{
        border-radius: 10px;
        transition: transform 0.5s; 
        border: 2px solid #00e5ff; 
    }

    .flex-grid .col img{
    
        height: 5rem;
        width:5rem;
        padding-left: 1rem;
        padding-top: 2rem;
    }
}
@media (max-width: 768px) {
    .flex-grid{
        /* display: flex;
        flex-wrap: wrap; */
        padding-left: 4.3rem;
        padding-right: 4.3rem;
        gap: 1rem;
    }
    .flex-grid .col img{    
        height: 5rem;
        width:5rem;
        padding-left: 1rem;
        padding-top: 2rem;
    }
    .flex-grid .col{
        flex:1 calc(100% - 25px);
        width: 18em;
        height: 10em;
        border-radius: 10px;
        transition: transform 0.5s; 
        border: 2px solid #00e5ff; 
        padding-bottom: 1rem;
        padding-top: 0.8rem;
    }
  
     .new .new-para{
        text-align: center;
        font-size: 60%;
        padding-left:5rem;
        padding-top: 0.5rem;
    padding-bottom: 3rem;
    }

}

@media (max-width: 432px) {
    .heading{
        padding-left: 1.8rem;
        text-wrap: wrap;
        color: aliceblue;
        line-height: 3rem;
        text-align: left;
    }
    .tech-row1{
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
        padding-bottom: 0;
    }
    .tech-row2
    {
        margin-left: 1rem;
        padding-top: 0.2rem;
    } 
    .tech-row2 p{
        padding-top: 0;
    font-size: 1.3rem;
    }
     .color-text{
        font-size: 2rem;
        color: orange;
    }
    .flex-grid{
        /* display: flex;
        flex-wrap: wrap; */
        padding-left: 4.3rem;
        padding-right: 4.3rem;
        gap: 1rem;
        flex: 1 1;
        
    }
    .flex-grid .col img{
        height: 3.5rem;
        width: 4rem;
        padding-top: 0rem;
    }
    .flex-grid .col{
        flex:1 ;
        width: 18em;
        height: 10em;
        border-radius: 10px;
        transition: transform 0.5s; 
        border: 2px solid #00e5ff; 
        padding-bottom: 1rem;
    }
    .new{
        justify-content: center;
        align-items: center;
        text-align: center;
        /* text-wrap: wrap; */
        /* padding-top: 0.3rem; */
        padding-left: 1.5rem;
        padding-right: 2rem;
        padding-top: 0.1rem;
        margin-bottom: 5rem;
        /* background-color: #00e5ff; */
    }
    .new  h4{
        text-align: center;
        text-wrap: wrap;
        font-size: 2rem;
        padding-top: 0.3rem;
    }
     .new .new-para{
       text-wrap: wrap;
        text-align:left;
        font-size: 60%;
        padding-left:0rem;
        padding-right: 0;
        padding-top: 0.3rem;
    padding-bottom: 3rem;
    }
}
@media (max-width: 391px) {
    .flex-grid .col{
        flex:1 1 ;
        width: 22em;
        height: 11em;
        border-radius: 10px;
        transition: transform 0.5s; 
        border: 2px solid #00e5ff; 
        padding-bottom: 1rem;
    }
    .new{
        justify-content: center;
        align-items: center;
        text-align: center;
        /* text-wrap: wrap; */
        /* padding-top: 0.3rem; */
        padding-left: 1.5rem;
        padding-right: 2rem;
        padding-top: 0.1rem;
        margin-bottom: 5rem;
        /* background-color: #00e5ff; */
    }
    .new  h4{
        text-align: center;
        text-wrap: wrap;
        font-size: 2rem;
        padding-top: 0.3rem;
    }
     .new .new-para{
       text-wrap: wrap;
        text-align:left;
        font-size: 60%;
        padding-left:0rem;
        padding-right: 0;
        padding-top: 0.3rem;
    padding-bottom: 3rem;
    }
}