.contact-form {
  height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin: 0 7%;
    border: 5px solid #00e4ff;
    border-radius: 20px;
    margin-bottom: 2.5rem;
  }
  
  .contactFormleft-div {
    width: 45%;
    padding: 40px;
    margin-left: 2rem;
    margin-top: 1rem;
    color: aliceblue;
    text-align: left;
  }

  .contactFormleft-div h2{
    font-size: xx-large;
    /* padding: 15px; */
  }

  .contactFormleft-div p{
    /* padding: 15px; */
    text-wrap: wrap;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  
  .contactFormright-div {
    width: 45%;
    /* height: 60%; */
    padding-top: 5vw;
    padding-left: 5rem;
    margin-right: 2rem;
    /* padding: 10em 3em; */
  }
  
  .info-box {
    display: grid;
    grid-template-columns: 1fr; /* Single column grid */
    grid-template-rows: 2rem auto auto;
    /* gap: 5px;  */
    background-color: #e3e0e0;
    /* padding: 10px; */
    margin-bottom: 20px;
    border-radius: 8px;
    color: #020202;
  }

  .info-box span{
    display: flex;
   padding-top: 1rem;
   padding-left: 1rem;
        /* justify-content: center; */
    /* align-content: center; */
  }
.Icons{
  padding-top: 0.2rem;
  height: 2.2rem;
}
  .info-box h3 {
    /* padding-top: 10px; */
    padding-left: 1rem;
    font-weight: 400;
    text-align: left;
  }
  
  .info-box p {
    /* padding-bottom: 3%; */
    margin-bottom: 0;
    padding-left: 4rem;
    padding-top: 0.5rem;
  }

  .contact_box{
    width: 100%;
    /* width: 70vh;
    height: 70vh; */
    padding: 3em 0;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #eeeaea;
    border-radius: 8px;
  }
 

  .form-group input {
    width: calc(100% - 40px); /* Adjust width to accommodate icon */
    padding: 10px 40px 10px 10px; /* Add padding for icon */
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  .form-group input.icon1 {
    background-image: url('../../../Images/Icon/username.svg'); /* URL to your icon image */
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px; /* Adjust size of the icon */
  }
  .form-group input.icon2 {
    background-image: url('../../../Images/Icon/email-icon.svg'); /* URL to your icon image */
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px; /* Adjust size of the icon */
  }
  
  .form-group input{
    background-color: white;
    width: 100%;
    height: 5vw;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1em;
  }
  .form-group textarea {
    background-color: white;
    width: 100%;
    height: 7rem;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 0em;
  }
   
  .form-group {
    /* position: relative; */
   
    padding-bottom: 0.3rem;
    /* margin-bottom: 20px; */
  }
  .NDA-text{
    padding-top: -0.3rem;
    padding-right: 1.3rem;
    line-height: 1.5rem;
  }
  .Shield{
    justify-content: flex-start;
  padding-top: 1.3rem;
  }
 .send_btn {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #f2f6f8;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 2rem;
    margin-top: 8px;
    margin-left: 5%;
    margin-bottom: 15px;
    border: 0;
    border-radius: 3rem;
    background-image:linear-gradient(131deg, #ffd340, #f07111, #f6c68f, #f8a394);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .send_btn:hover {
    background: #ffa108; 
    transform: translateX(5px) scale(1.05);
    box-shadow: 0px 10px 30px 0px #ffa108;
    color: #eeeaea;
    /* transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #f07111; */
  }
  
  @media (max-width: 769px) {
    .contact-form {
      margin-top: 4rem;
      margin-left:3.5rem;
      margin-right:3.5rem;
    }
    
    .contactFormleft-div {
      width: 100%;
      padding: 40px;
      margin-left: 1rem;
      margin-top: 1rem;
      color: aliceblue;
      text-align: left;
    }
    .contactFormright-div {
      width: 100%;
      /* height: 60%; */
      padding-top: 5vw;
      padding-left: 4rem;
      margin-right: 3rem;
      /* padding: 10em 3em; */
    }
    .contact_box{
      margin-bottom: 3rem;
      margin-right:2rem;
    }
  }
  @media (max-width: 600px) {
    .contact-form {
      margin-top: 6rem;
      margin-left:2.5rem;
      margin-right:2.5rem;
    }
  }

  @media (max-width: 432px) {
    .contact-form {
      margin-top: 6rem;
      margin-left:0;
      margin-right:0;
    }
    .contactFormleft-div {
      width: 100%;
      padding: 40px;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 0rem;
      margin-top: 1rem;
      color: aliceblue;
      text-align: left;
    }
    .contactFormright-div {
      width: 100%;
      /* height: 60%; */
      padding-top: 5vw;
      padding-left: 1rem;
      margin-right: 1rem;
      /* padding: 10em 3em; */
    }

    .contact_box{
      margin-bottom: 3rem;
      margin-right:2.5rem;
      margin-left:0rem;
    }
  }
  @media screen and (max-width:391px) {
    .contact-form {
      margin-top: 0rem;
      margin-left:0;
      margin-right:0;
    }
    .contactFormleft-div {
      width: 100%;
      padding: 40px;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 0rem;
      margin-top: 1rem;
      color: aliceblue;
      text-align: left;
    }
    .contactFormright-div {
      width: 100%;
      /* height: 60%; */
      padding-top: 5vw;
      padding-left: 1rem;
      margin-right: 1rem;
      /* padding: 10em 3em; */
    }
    /* .contact_box{
      margin-bottom: 3rem;
      margin-right:2rem;
    } */

    .form-group textarea{
      height: 20vh;
    }
  }
  